<section class="container">
  <h1>All Blogs</h1>
  <ul>
    <li ng-repeat="blog in blogsIndex.all" class="blog-container card">
      <a ui-sref="blogsShow({ id: blog._id })">
        <img ng-src="{{ blog.image }}" class="card-img-top">
        <div class="card-block">
          <h2 class="card-text">{{ blog.title }}</h2>
          <h4 class="card-text">{{ blog.author }}</h4>
        </div>
      </a>
    </li>
  </ul>

  <!-- <table>
    <tr ng-repeat="blog in blogsIndex.all" class="blog-container card">
      <a ui-sref="blogsShow({ id: blog._id })">
        <td><img ng-src="{{ blog.image }}" class="card-img-top"></td>
        <div class="card-block">
          <td class="card-text">{{blog.title}}</td>
          <td class="card-text">{{blog.author}}</td>
        </div>
      </a>
    </tr>
  </table> -->


</section>
